html {
    height: 100%;
}

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0px;
}

body {
    background: linear-gradient(to bottom, #6ec8ff, #b9f0fa);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background-color: #fff;
    margin: 100px auto 0px auto;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    font-weight: 900;
    margin-bottom: 40px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button {
    font-size: 18px;
    font-weight: 900;
    border: none;
    outline: none;
    padding: 15px 20px;
    background: #ff5945;
    color: #fff;
    cursor: pointer;
    border-radius: 40px;
}

ul {
    padding: 0px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(assets/images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 9px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(assets/images/checked.png);
}